<style type="text/css">

    .icon-refresh-animate {
        animation-name: rotateThis;
        animation-duration: .7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes rotateThis {
        from { transform: scale( 1 ) rotate( 0deg );   }
        to   { transform: scale( 1 ) rotate( 360deg ); }
    }
    
</style>

<div class="loading">
    <small class="glyphicon glyphicon-refresh icon-refresh-animate"></small> loading...
</div>