<!DOCTYPE html>
<html>
<head>
    <title>spacecraft</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../../client/img/favicon.ico" />
    <link rel="stylesheet" href="../../../client/js/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../client/css/style.css">
    <link rel="stylesheet" href="../../../client/css/chat.css">
    
    <style type="text/css">
    
        .vertical-offset-100 {
            padding-top:100px;
        }

    </style>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header>
                <div class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="home" class="navbar-brand" href="#">spacecraft</a>
                    </div>
                </div>
            </header>
            <article>
                {% if (message) != '' %}
                    <div class="alert alert-danger">
                        <button data-dismiss="alert" class="close" type="button">x</button>
                        {{ message }}
                    </div>
                {% endif %}
                
                <h4>
                    <span class="text-danger">spacecraft</span> <small>mensagens</small>
                </h4>
                
                <hr />                
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-comment"></span> bate-papo
                                </div>
                                <div class="panel-body">
                                    <ul id="messages" class="chat">
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                        <span class="input-group-btn">
                                            <button id="send" class="btn btn-warning btn-sm">enviar</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </article>
        </div>
    </div>
    
    <div id="footer">
        <div class="container">
            <p class="muted credit">&copy; <a href="http://junioro.wordpress.com" rel="author">J&uacute;nior Oliveira</a> 2014.</p>
        </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <script type="text/javascript">
        
        $(function() {
            
            var leftLayout = 
                '<li class="left clearfix">' +
                    '<span class="chat-img pull-left">' +
                        '<img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">' +
                    '</span>' +
                    '<div class="chat-body clearfix">' +
                        '<div class="header">' +
                            '<strong class="primary-font">Usuário A</strong>' +
                            '<small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>12 mins ago</small>' +
                        '</div>' +
                        '<p>%message%</p>' +
                    '</div>' +
                '</li>';
            
            var rightlayout = 
                '<li class="right clearfix">' +
                    '<span class="chat-img pull-right">' +
                        '<img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">' +
                    '</span>' +
                    '<div class="chat-body clearfix">' +
                        '<div class="header">' +
                            '<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>' +
                            '<strong class="pull-right primary-font">Usuário B</strong>' +
                        '</div>' +
                        '<p>%message%</p>' +
                    '</div>' +
                '</li>';
            
            var left = false;
            
            
            function showMessage(message){
                left = !left;
                if (left) {
                    $('#messages').append(leftLayout.replace('%message%', message));
                } else {
                    $('#messages').append(rightlayout.replace('%message%', message));
                }
            }
            
            var iosocket = io.connect();
 
            iosocket.on('connect', function () {
                showMessage('Conectado');
 
                iosocket.on('message', function(message) {
                    showMessage(message);
                });
                
                iosocket.on('disconnect', function() {
                    showMessage('Disconectado');
                });
            });
            
            $('#message').keypress(function(event) {
                if ($(this).val() === '') return;
                if (event.which !== 13) return;
                
                event.preventDefault();
                
                var message = $(this).val();

                iosocket.send(message);
                
                showMessage(message);

                $(this).val('');
            });
            
        });
        
    </script>
    
</body>
</html>