<!DOCTYPE html>
<html>
<head>
    <title>spacecraft</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="../../client/img/favicon.ico" />
    <link rel="stylesheet" href="../../client/css/main.css" />
</head>
<body>
    <canvas id="game" width="895" height="600"></canvas>
    
    <script type="text/javascript" data-main="../../client/js/main" src="../../client/js/libs/require/require.js"></script>
</body>
</html>