<% if (left) { %>
    <li class="left clearfix">
        <span class="chat-img pull-left">
            <img src="http://placehold.it/36/55C1E7/fff&amp;text=<%- letterImage %>" alt="User Avatar" class="img-circle">
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font"><%- user %></strong>
                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span><%- date %></small>
            </div>
            <p><%- message %></p>
        </div>
    </li>
<% } else { %>
    <li class="right clearfix">
        <span class="chat-img pull-right">
            <img src="http://placehold.it/50/FA6F57/fff&amp;text=<%- letterImage %>" alt="User Avatar" class="img-circle">
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%- date %></small>
                <strong class="pull-right primary-font"><%- user %></strong>
            </div>
            <p><%- message %></p>
        </div>
    </li>
<% } %>