<!DOCTYPE html>
<html>
<head>
    <title>spacecraft</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../../client/img/favicon.ico" />
    <link rel="stylesheet" href="../../../client/js/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../client/css/style.css">
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header>
                <div class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="home" class="navbar-brand" href="#">spacecraft</a>
                    </div>
                </div>
            </header>
            <article>
                <div style="text-align: center;">Jogo configurado com sucesso!</div>
            </article>
        </div>
        <div id="push"></div>
    </div>
    
    <div id="footer">
        <div class="container">
            <p class="muted credit">&copy; <a href="http://junioro.wordpress.com" rel="author">J&uacute;nior Oliveira</a> 2014.</p>
        </div>
    </div>
    
</body>
</html>

