<h4>
    <span class="text-danger">spacecraft</span><small> projectiles</small>
</h4>

<hr />

<i class="icon-plus-sign"></i> Registering <a id="create" class="btn btn-link" href="#">projectile</a>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">Projectiles</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Health</th>
                <th>Damage</th>
                <th>Speed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>