<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>spacecraft</title>
    
    <link rel="shortcut icon" href="../../client/img/favicon.ico" />

    <link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../client/css/main.css" />
    <link rel="stylesheet" href="../../client/css/devices.css" />
    <link rel="stylesheet" href="../../client/css/post.css" type="text/css" media="screen" title="no title" charset="utf-8" />

    <style type="text/css">
        body { background: none; }
        #post_wrapper #body { padding: 17px; }
    </style>
</head>
<body>
    <div id="footer_image">
        <div id="main_wrapper">
            <div id="logo">
                <br />
            </div>
            <div id="main_in">
                <div id="menu_wrapper">
                    <div id="menu_left"></div>
                    <ul id="menu">
                        <li><a href="/">Jogo</a></li>
                    </ul>
                    <a href="#" id="pull">Menu</a>
                    <div id="menu_right"></div>
                    <div class="clear"></div>
                </div>
                <div id="full_page_wrapper">
                    <div class="header">
                        <h2><span>spacecraft //</span> jogo </h2>
                    </div>
                    <div id="post_wrapper">
                        <div id="body">
                            <div style="width: 895px; height: 75px; background-color: #000000; border-bottom: solid 1px #696969; border-radius: 10px 10px 0px 0px;">
                                
                            </div>
                            <canvas id="game" width="895" height="600"></canvas>
                            <div style="width: 895px; min-height: 10px; background-color: #000000; border-top: solid 1px #696969; border-radius: 0px 0px 10px 10px;">
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <a id="cop_text" href="http://junioro.wordpress.com/">Copyright &copy; 2013 Junior Oliveira. All Rights Reserved.</a>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" data-main="../../client/js/main" src="../../client/js/libs/require/require.js"></script>
</body>
</html>