<!DOCTYPE html>
<html>
<head>
    <title>spacecraft</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="../../client/img/favicon.ico" />
    <link rel="stylesheet" href="../../client/css/bootstrap/bootstrap.min.css">
    
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">spacecraft</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Characters</a></li>
                    <li><a href="#">Enemies</a></li>
                    <li><a href="#">Entities</a></li>
                    <li class="active"><a href="#">Projectiles</a></li>
                </ul>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Projectiles</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Health</th>
                        <th>Damage</th>
                        <th>Speedy</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>bullet</td>
                        <td>1</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <script src="../../client/js/libs/jquery/jquery.js"></script>
    <script src="../../client/js/libs/bootstrap/bootstrap.min.js"></script>
</body>
</html>