<!DOCTYPE html>
<html>
<head>
    <title>spacecraft</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../../client/img/favicon.ico" />
    <link rel="stylesheet" href="../../../client/js/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../client/css/style.css">
    
    <style type="text/css">
    
        .vertical-offset-100{
            padding-top:100px;
        }
    
    </style>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header>
                <div class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="home" class="navbar-brand" href="#">spacecraft</a>
                    </div>
                </div>
            </header>
            <article>
                {% if (message) != '' %}
                    <div class="alert alert-danger">
                        <button data-dismiss="alert" class="close" type="button">x</button>
                        {{ message }}
                    </div>
                {% endif %}
                
                <h4>
                    <span class="text-danger">spacecraft</span> <small>login</small>
                </h4>
                
                <hr />
                
                <form action="/login" method="post" class="form-horizontal">
                    
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">E-mail</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="text" name="email" class="form-control" placeholder="E-mail">
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    
                    <hr/>
    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submit" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp; login</button>
                        </div>
                    </div>
                    
                </form>
            </article>
        </div>
        <div id="push"></div>
    </div>
    
    <div id="footer">
        <div class="container">
            <p class="muted credit">&copy; <a href="http://junioro.wordpress.com" rel="author">J&uacute;nior Oliveira</a> 2014.</p>
        </div>
    </div>
    
</body>
</html>

